.characters__list__item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  text-align: center;
}
.character1{
  grid-row: 1;
  grid-column: 1
}
