header{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  align-items: center;
  position: fixed;
  width: 100vw;
  margin-top: 0;
}
.header__container{
  background-color: $colourBlack;
  height: 70px;
}
.header__menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  padding: 5px;
  div{
    padding: 10px;
  }
}

.header__logo--img{
  width: 40px;
  padding-right: 5px;
    border-right: lightgrey solid 1px;
}
.header__title--container{
  border-right: lightgrey solid 1px;
  padding-right: 5px;

}
.header__bell{
  display: flex;
}
.header__bell--img{
  height: 5px;
}
.header__bell--circle{
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  border: 1px solid white;
}
